 <div class="container"> 
  <div id="<%= dom_id metallic %>">
    <p>
      <strong>Brand:</strong>
      <%= metallic.brand %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= metallic.thread_type %>
    </p>

    <p>
      <strong>Number:</strong>
      <%= metallic.number %>
    </p>

    <p>
      <strong>Color:</strong>
      <%= metallic.color %>
    </p>

    <p>
      <strong>Pattern:</strong>
      <%= metallic.pattern %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= metallic.image %>
    </p>

    <p>
      <strong>Stash:</strong>
      <%= metallic.stash %>
    </p>

  </div>
</div>
