<div class="container">
  <p style="color: green"><%= notice %></p>
  <div class= "row mt-5 pt-5 pb-5 my-auto">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <h5 class= "display-5">Metallic Threads</h5>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <h5>
        <%= link_to "Add New Metallic", new_metallic_path, class: "btn btn-secondary" %>
      </h5>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <h5><%= render 'metallics/search_form' %></h5>
    </div>
  </div>
  <div class="row align-items-start">
    <% @metallics.sort_by{|metallic| metallic.number}.each do |metallic| %>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card-deck">
          <div id="metallics" class="card mb-5 text-center" style="width: 12rem;">
            <% if metallic.image.present? %>
              <%= image_tag metallic.image, class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title">  
                <%= "#{metallic.thread_type} #{metallic.number}"%>
              </h5>
              <p class="card-text"><%= metallic.brand %></p> 
            </div>
            <p>
              <%= link_to "Show this metallic", metallic, class: "btn btn-secondary" %>
            </p>
          </div> 
        </div>
      </div>
    <% end %>
</div>
