<div class="container pt-5">
  <p style="color: green"><%= notice %></p>
  <h6 class="display-6 pt-5 mt-5 mb-3 text-align-center"> Metallic Threads <%= link_to "Add New Metallic", new_metallic_path, class: "btn btn-outline-secondary ms-5" %> </h6>


  <% @metallics.sort_by{|metallic| [metallic.thread_type, metallic.number]}.each do |metallic| %>
    <div class="card-deck">
      <div id="metallics" class="card mb-5 text-center" style="width: 15rem;">
        <% if metallic.image.present? %>
          <%= image_tag metallic.image, class: "card-img-top" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title">  
            <%= "#{metallic.thread_type} #{metallic.number}"%>
          </h5>
          <p class="card-text"><%= metallic.brand %></p> 
        </div>
        <p>
          <%= link_to "Show this metallic", metallic, class: "btn btn-outline-secondary" %>
        </p>
      </div> 
    </div>
  <% end %>
</div>
