<div class="container mt-5 pt-5"> 
  <p style="color: green"><%= notice %></p>
  <div class="card mb-3" style="max-width: 900px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <% if @metallic.image.present?%>
          <%= image_tag @metallic.image, class: "card-img p-1" %>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-text"><%= "#{@metallic.thread_type} #{@metallic.number}"%>
            <% if @metallic.stash? %>
              <i class="bi bi-bag-check-fill text-success"></i>
            <% else %> 
              <i  class="bi bi-bag-x-fill text-danger"></i>
            <% end %>
          </h5> 
          <p class="card-title"><%= "Color: #{@metallic.color}"%></p>
          <p class="card-title"><%= "Brand: #{@metallic.brand}"%></p> 
          <p class="card-title"><%= "Patterns: #{@metallic.pattern}" %></p>
          <div class="mb-5">
            <%= link_to "Edit Metallic", edit_metallic_path(@metallic), class: "btn btn-secondary float-start"%>
            <%= button_to "Delete Metallic", @metallic, method: :delete, class: "btn btn-outline-danger ms-3 float-start" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Back to Metallics", metallics_path, class: "btn btn-info" %>
</div>
