
<main class= "container" >
  <div id="<%= dom_id dmc %>">
    <p>
      <strong>Number:</strong>
      <%= dmc.number %>
    </p>

    <p>
      <strong>Color:</strong>
      <%= dmc.color %>
    </p>
    <p>
      <strong>Pattern:</strong>
      <%= dmc.pattern %>
    </p>
    <p>
      <strong>Rgb value:</strong>
      <%= dmc.rgb_value %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= dmc.image %>
    </p>

    <p>
      <strong>Stash:</strong>
      <%= dmc.stash %>
    </p>

</div>
</main>
