<div class="container">
  <p style="color: green"><%= notice %></p>
  <div class= "row mt-5 pt-5 pb-5 my-auto">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <h5 class= "display-5">DMC Threads</h5>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <h5>
        <%= link_to "Add New DMC Thread", new_dmc_path, class: "btn btn-secondary" %>
      </h5>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <h5><%= render 'dmcs/search_form' %></h5>
    </div>
  </div>
  <div class="row align-items-start">
    <% @dmcs.sort_by{|dmc| dmc.number}.each do |dmc| %>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card-deck">
          <div id="dmcs" class="card mb-5 text-center" style="width: 12rem;">
            <% if dmc.image.present? %>
              <%= image_tag dmc.image, class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title">  
                <%= "DMC #{dmc.number}"%>
              </h5>
              <p class="card-text"><%= dmc.color %></p> 
              <p class="card-text"><%= "Patterns: #{dmc.pattern}" %></p> 
            </div>
            <p>
              <%= link_to "Show this DMC", dmc, class: "btn btn-secondary" %>
            </p>
          </div> 
        </div>
      </div>
    <% end %>
</div>


