<div id="<%= dom_id silk %>">
  <p>
    <strong>Brand:</strong>
    <%= silk.brand %>
  </p>

  <p>
    <strong>Thread Type:</strong>
    <%= silk.thread_type %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= silk.number %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= silk.color %>
  </p>

  <p>
    <strong>Pattern:</strong>
    <%= silk.pattern %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= silk.image %>
  </p>

  <p>
    <strong>Stash:</strong>
    <%= silk.stash %>
  </p>

</div>
