<div class= "container">
  <p style= "color: green"><%= notice %></p>
   <div class= "row mt-5 pt-5 pb-5 my-auto">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <h5 class= "display-5">Silk Threads</h5>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <h5>
        <%= link_to "Add New Silk", new_silk_path, class: "btn btn-secondary" %>
      </h5>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <h5><%= render 'silks/search_form' %></h5>
    </div>
  </div> 
  <div class="row align-items-start">
    <% @silks.each do |silk| %>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card-deck mt-5">
          <div id="silks" class="card mb-5 text-center" style="width: 12rem;">
            <% if silk.image.present? %>
              <%= image_tag silk.image, class: "card-img" %>
            <% end %> 
            <div class="card-body">
              <h5 class="card-title"><%= "#{silk.brand} #{silk.number}"%></h5>
              <p class="card-text"><%= silk.color%></p>
            </div>
            <p>
              <%= link_to "Show this Silk", silk, class: "btn btn-secondary" %>
            </p>
          </div> 
        </div>
      </div>
    <% end %>
  </div>
</div>
