<div class= "container">
  <p style= "color: green"><%= notice %></p>
  <h6 class= "display-6 mt-5 pt-5 mb-3 text-align-center"> Silk Threads<%= link_to "Add New Silk", new_silk_path, class: "btn btn-outline-secondary ms-5" %> </h6>
    <%# <% @silks.sort_by{|silk| silk.number }.each do |silk| %> 
    <% @silks.sort_by{|silk| [silk.brand, silk.number]}.each do |silk| %>
      <div class="card-deck mt-5">
        <div id="silks" class="card mb-5 text-center" style="width: 18rem;">
          <% if silk.image.present? %>
            <%= image_tag silk.image, class: "card-img" %>
          <% end %> 
          <div class="card-body">
            <h5 class="card-title"><%= "#{silk.brand} #{silk.number}"%></h5>
            <p class="card-text"><%= silk.color%></p>
          </div>
          <p>
            <%= link_to "Show this Silk", silk, class: "btn btn-outline-secondary" %>
          </p>
        </div> 
      </div>
    <% end %>
</div>
