<div class="container mt-5 pt-5"> 
  <p style="color: green"><%= notice %></p>
  <div class="card mb-3" style="max-width: 1500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <% if @silk.image.present?%>
          <%= image_tag @silk.image, class: "card-img p-3" %>
        <% else%>
          <p class="mt-5 mx-5" > No Image Available</p>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title display-6"><%= "#{@silk.color}"%>
            <% if silk.stash? %>
              <i style="color: green;" class="bi bi-bag-check-fill"></i>
            <% else %> 
              <i style= "color: red;" class="bi bi-bag-x-fill"></i>
            <% end %>
          </h5>
          <h6 class="card-text"><%= "Number:  #{@silk.number}"%></h6> 
          <h6 class="card-title"><%= "Brand: #{@silk.thread_type}"%></h6>
          <h6 class="card-title"><%= "All Patterns: #{@silk.pattern}"%></h6> 
          <div class= "pt-5 pb-5">
            <%= link_to "Edit Silk", edit_silk_path(@silk), class: "btn btn-secondary float-start" %>
            <%= button_to "Delete Silk", @silk, method: :delete, class: "btn btn-outline-danger ms-3 float-start " %> 
          </div>
      </div>
    </div>
  </div>
</div>
<%= link_to "Back to Silks", silks_path, class: "btn btn-info" %>
