
<form>
  <div class="form-group">
    <%= form_with model: @pattern do |form| %>
      <label><%= form.label :brand %></label>
      <input class="form-control"><%= form.text_field :brand %>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <%= form.submit %>
    <% end %>
  </div>




<%= form_with model: @pattern do |form| %>
  <p>
    <%= form.label :brand %><br>
    <%= form.text_field :brand %>
  </p>
  <p>
    <%= form.label :number %><br>
    <%= form.text_field :number %>
  </p>
  <p>
    <%= form.label :size %><br>
    <%= form.text_field :size %>
  </p>
  <p>
    <%= form.label :image %><br>
    <%= form.text_field :image %>
  </p>
  <p>
    <%= form.label :stash%><br>
    <%= form.text_field :stash %>
  </p>
  <p>
    <%= form.label :finished%><br>
    <%= form.text_field :finished %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

