<div id="<%= dom_id pattern %>">
  <p>
    <strong>Brand:</strong>
    <%= pattern.brand %>
  </p>

  <p>
    <strong>Pattern name:</strong>
    <%= pattern.pattern_name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= pattern.number %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= pattern.size %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= pattern.image %>
  </p>
</div>
