<div class="container">
  <div id="<%= dom_id pattern %>">
    <p>
      <strong>Brand:</strong>
      <%= pattern.brand %>
    </p>

    <p>
      <strong>Number:</strong>
      <%= pattern.number %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= pattern.image %>
    </p>

    <p>
      <strong>Stash:</strong>
      <%= pattern.stash %>
    </p>

  </div>
</div>
