<div class="container">
  <p style="color: green"><%= notice %></p>
  <div class= "row mt-5 pt-5 pb-5 my-auto">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <h6 class= "display-5">Patterns</h6>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <h5>
        <%= link_to "Add New Pattern", new_pattern_path, class: "btn btn-outline-secondary" %>
      </h5>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <h5><%= render 'patterns/search_form' %></h5>
    </div>
  </div> 
  <div class="row align-items-start">
    <% @patterns.sort_by{|pattern| [pattern.brand, pattern.number]}.each do |pattern| %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-deck mt-5">
          <div id="patterns" class="card mb-5 text-center" style="width: 18rem;">
            <% if pattern.image.present? %>
              <%= image_tag pattern.image, class: "card-img mb-3" %>
            <% end %> 
            <div class="card-body">
              <h5 class="card-title"><%= "#{pattern.brand} #{pattern.number}"%></h5>
              <p class="card-text"><%= pattern.pattern_name%></p>
            </div>
            <p>
              <%= link_to "Show this pattern", pattern, class: "btn btn-outline-secondary" %>
            </p>
          </div> 
        </div>
      </div>
    <% end %>
  </div>
</div>