<div class="container mt-5 pt-5">
  <p style="color: green"><%= notice %></p>
  <div class="card mb-3" style="max-width: 1200px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <% if @pattern.image.present?%>
        <%= image_tag @pattern.image, class: "card-img p-3" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @pattern.pattern_name%></h5>
        <p class="card-text"><%= "#{@pattern.brand} #{@pattern.number}"%></p>
        <p class="card-text"><%= "Size: #{@pattern.size}"%></p>
        <div class="pb-5">
          <%= link_to "Edit Pattern", edit_pattern_path(@pattern), class: "btn btn-outline-secondary float-start" %>
          <%= button_to "Delete Pattern", @pattern , method: :delete, class: "btn btn-outline-danger ms-3 float-start" %> 
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to "Back to patterns", patterns_path, class: "btn btn-secondary" %>
