<% if current_user %> 
    <li class="nav-item">
        <%= link_to "Edit Account", edit_user_registration_path, class: "nav-link "%>
    </li>
    <p><%= current_user.email %></p>
    <li class="nav-item">
        <%= button_to "Log Out", destroy_user_session_path, class: "btn btn-secondary ", style: "background-color: #cdd422; color: #431c5d;", method: "delete" %> 
    </li>

<% else %>
    <li class="nav-item">
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"%>
    </li>
    <li class="nav-item">
        <%= link_to "Log in", new_user_session_path, class: "nav-link"%> 
    </li>
<% end %>

