<div class="container">
  <div id="<%= dom_id bead %>">
    <p>
      <strong>Brand:</strong>
      <%= brand.number %>
    </p>
    <p>
      <strong>Number:</strong>
      <%= bead.number %>
    </p>

    <p>
      <strong>Color:</strong>
      <%= bead.color %>
    </p>

    <p>
      <strong>Pattern:</strong>
      <%= bead.pattern %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= bead.image %>
    </p>

    <p>
      <strong>Stash:</strong>
      <%= bead.stash %>
    </p>

  </div>
</div>
