<div class="container">
  <p style="color: green"><%= notice %></p>
  <h6 class="display-6 mt-5 pt-5 mb-3 text-align-center"> Beads  <%= link_to "Add New Bead", new_bead_path, class: "btn btn-outline-secondary ms-5" %></h6>
  <% @beads.each do |bead| %>
    <div class="card-deck">
      <div id="beads" class="card mb-5 text-center" style="width: 18rem;">
        <% if bead.image.present? %>
          <%= image_tag bead.image, class: "card-img" %>
        <% end %> 
        <div class="card-body">
          <h5 class="card-title">  <%= bead.number%></h5>
          <p class="card-text"><%= bead.pattern%></p>
        </div>
        <p>
          <%= link_to "Show this bead", bead, class: "btn btn-outline-secondary" %>
        </p>
      </div> 
    </div>
  <% end %>
</div>