<div class="container pt-5">
  <p style="color: green"><%= notice %></p>
  <div class="card mb-3 mt-5" style="max-width: 900px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <% if @bead.image.present?%>
          <%= image_tag @bead.image, class: "card-img p-3" %>
        <% else %>
          <h6> No Image Uploaded </h6>
        <% end %> 
      </div> 
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title display-6"><%= @bead.number %></h5>
            <% if @metallic.stash? %>
              <i class="bi bi-bag-check-fill text-success"></i>
            <% else %> 
              <i  class="bi bi-bag-x-fill text-danger"></i>
            <% end %>
          <h6 class="card-text"><%=  "Brand: #{@bead.brand}" %></h6>
          <h6 class="card-text"><%=  "Color: #{@bead.color}" %></h6>
          <h6 class="card-text"><%=  "All Patterns: #{@bead.pattern}" %></h6>
          <div class="pt-5 pb-5">
            <%= link_to "Edit Bead", edit_bead_path(@bead), class: "btn btn-secondary float-start"%>
            <%= button_to "Delete Bead", @bead, method: :delete, class: "btn btn-outline-danger ms-3 float-start" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Back to Beads", beads_path, class: "btn btn-info" %>
</div>
