<nav class="nav navbar fixed-top navbar-expand-lg mb-5 p-3" style="background-color: #026670; color: white;" >
  <div class="container">
    <a class="navbar-brand" href="#" style="color: white;" >Stiching Organizer</a>
    <button class="navbar-toggler" style="color: white;" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="color: white;">
        <li class="nav-item" style="color: white;">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Patterns", patterns_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "DMC", dmcs_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Silks", silks_path, class: "nav-link" %> 
        </li> 
        <li class="nav-item">
          <%= link_to "Beads", beads_path, class: "nav-link" %>
        </li>          
        <li class="nav-item">
          <%= link_to "Metallics", metallics_path, class: "nav-link" %>
        </li>
        <li class="ps-5, ms-5">    
          <%= render "user/session_manager"%>
        </li>
      </ul>
    </div>
    </div>
</nav>
